/* Сброс базовых стилей */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ====== ШАПКА ====== */

header {
    width: 100%;
    height: 120px;
    background-color: #795c50;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #b39776;
    color: rgb(232, 215, 207);
}

nav {
    margin-top: 10px;
}

nav a {
    display: inline-block;
    margin: 0 15px;
    padding: 5px 10px;
    color: #3b2f2f;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}

nav a:hover {
    background-color: #b39776;
    color: #fff;
}

/* ====== ОСНОВНОЙ КОНТЕНТ ====== */
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    background-color: #f9f9f9;
}

/* Карточка товара */

.product {
  width: 280px;
  height: 380px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  transition: transform 0.2s, box-shadow 0.2s;
  padding-bottom: 10px;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.info {
  padding: 15px;
}

.info h2 {
  margin-bottom: 10px;
  font-size: 22px;
}

.info p {
  margin-bottom: 15px;
  color: #444;
  font-size: 15px;
}

/* Кнопка */
button {
  width: 100%;
  padding: 10px;
  background-color: #b39776;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #8a6f54;
}


/* ====== ФУТЕР ====== */

footer {
  width: 100%;
  height: 80px;
  background-color: #795c50;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-top: 3px solid #b39776;
  color: rgb(232, 215, 207);
}